.DetailsContainer {
  padding-top: 30px;
  flex-grow: 1;
}
.DetailsContainer > label {
  font-size: 18px;
  color: #565c70;
  margin-bottom: 20px;
}
.DetailsContainer thead {
  background-color: #fafafa;
  color: #9ba5ba;
  font-size: 15px;
  border-radius: 15px;
}
.table {
  border-radius: 15px;
  width: 100%;
  border-color: #ebeaea;
}
