.lang span {
  font-size: 22px;
  font-weight: 800;
  color: #ff0000;
}
.lang button {
  border: none;
  background-color: transparent;
}
.link {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
}
.nav {
  display: flex;
  align-items: center;
}
.link {
  margin-inline-end: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #101010;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 4;
}
