.AddressContainer {
  padding-top: 30px;
  padding-inline-start: 20px;
}
.AddressContainer > label {
  font-size: 18px;
  color: #565c70;
  margin-bottom: 20px;
}
.Address {
  background-color: #fafafa;
  color: #8c92a1;
  padding: 20px;
  border: 1px solid #ebeaea;
  max-width: 470px;
  overflow: hidden;
  border-radius: 5px;
}
.Problem {
  border: 1px solid #ebeaea;
  border-radius: 5px;
  color: #41475f;
  font-size: 17px;
  display: flex;
  align-items: center;

  font-weight: 600;
  padding: 15px;
  margin-top: 10px;
}
.Address p {
  line-break: anywhere;
}
.question {
  display: flex;
  flex-direction: column;
}
.question button {
  margin-top: 10px;
  height: 34px;
  background: #ff0000;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
